version: 0.0.4+AppVeyor.{build}
os: Visual Studio 2015
clone_depth: 1

matrix:
  fast_finish: true

platform: x86
configuration: Debug

environment:
  global:
    BOOST_ROOT: C:\Libraries\boost_1_66_0
    BOOST_INCLUDEDIR: C:\Libraries\boost_1_66_0
    LIBFAAD: faad2-2.7
    LIBXVID: xvidcore-1.3.4

    AUTORECONF_CMD: WANT_AUTOMAKE=latest AUTOMAKE='automake --foreign' autoreconf -fi
    CONFIGURE_CMD: CC=cl CXX=cl ./configure --prefix=/
    INSTALL_CMD: make install

  matrix:
    - CMAKE_GENERATOR: Visual Studio 14 2015
      MSVC_ARCH: amd64_x86
      MSBUILD_PLATFORM: Win32
      PROGRAM_FILES_DIR: C:\Program Files (x86)

      BOOST_LIBRARYDIR: C:/Libraries/boost_1_66_0/lib32-msvc-14.0
      LIBFAAD_DESTDIR: C:/Programs/FAAD
      LIBXVID_DESTDIR: C:\Programs\XviD

      VCPKG_INC_DIR: C:/tools/vcpkg/installed/x86-windows/include
      VCPKG_LIB_DIR: C:/tools/vcpkg/installed/x86-windows/lib
      VCPKG_BIN_DIR: C:\tools\vcpkg\installed\x86-windows\bin

install:
  - set PROGRAMFILES=%PROGRAM_FILES_DIR%
  - call "C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\vcvarsall.bat" %MSVC_ARCH%
  - mklink /d "C:\Programs" "%PROGRAM_FILES_DIR%"

  - cmake -E make_directory libs
  - if not exist libs\%LIBFAAD%.tar.bz2  cmake -E chdir libs curl -OfsSL http://downloads.sourceforge.net/faac/%LIBFAAD%.tar.bz2
  - if not exist libs\%LIBXVID%.tar.gz   cmake -E chdir libs curl -OfsSL http://downloads.xvid.org/downloads/%LIBXVID%.tar.gz

  - choco install nasm
  - set PATH="C:\Program Files\NASM";%PATH%
  - cmake -E chdir libs cmake -E tar xf %LIBXVID%.tar.gz
  - if not exist libs\xvidcore\build\win32\libxvidcore.vcxproj cmake -E chdir libs/xvidcore devenv /upgrade build\win32\libxvidcore.sln
  - cmake -E chdir libs/xvidcore msbuild build\win32\libxvidcore.vcxproj /p:Configuration=Release /p:Platform=%MSBUILD_PLATFORM% /verbosity:quiet
  - cmake -E make_directory %LIBXVID_DESTDIR%
  - cmake -E make_directory %LIBXVID_DESTDIR%\include
  - cmake -E make_directory %LIBXVID_DESTDIR%\lib
  - cmake -E copy libs\xvidcore\src\xvid.h                       %LIBXVID_DESTDIR%\include\
  - cmake -E copy libs\xvidcore\build\win32\bin\xvidcore.dll     %LIBXVID_DESTDIR%\lib\
  - cmake -E copy libs\xvidcore\build\win32\bin\xvidcore.dll.a   %LIBXVID_DESTDIR%\lib\xvidcore.lib
  - cmake -E copy libs\xvidcore\build\win32\bin\xvidcore.dll.exp %LIBXVID_DESTDIR%\lib\xvidcore.exp

  - set PATH=C:\msys64\usr\bin;%PATH%
  - cmake -E chdir libs cmake -E tar xf %LIBFAAD%.tar.bz2
  - cmake -E chdir libs/%LIBFAAD% bash -c "sed -re 's/iquote/I/' libfaad/Makefile.am -i"
  - cmake -E chdir libs/%LIBFAAD% bash -c "%AUTORECONF_CMD% &>/dev/null"
  - cmake -E chdir libs/%LIBFAAD% bash -c "%CONFIGURE_CMD% &>/dev/null"
  - cmake -E chdir libs/%LIBFAAD% bash -c "%INSTALL_CMD% DESTDIR=%LIBFAAD_DESTDIR% &>/dev/null"

  - vcpkg install zlib:x86-windows
  - vcpkg install bzip2:x86-windows
  - vcpkg install libpng:x86-windows
  - vcpkg install freetype:x86-windows
  - vcpkg install sdl2:x86-windows
  - vcpkg install libiconv:x86-windows
  - vcpkg install libmad:x86-windows
  - vcpkg install libogg:x86-windows
  - vcpkg install libvorbis:x86-windows
  - vcpkg install liblzma:x86-windows
  - vcpkg install libxml2:x86-windows
  - vcpkg install openal-soft:x86-windows

build_script:
  - set PATH=%VCPKG_BIN_DIR%;%PATH%
  - set PROGRAMFILES=%PROGRAM_FILES_DIR%
  - cmake -Bbuild -H. -G"%CMAKE_GENERATOR%"
          -DCMAKE_TOOLCHAIN_FILE=c:/tools/vcpkg/scripts/buildsystems/vcpkg.cmake
          -DBOOST_LIBRARYDIR=%BOOST_LIBRARYDIR%
          -DSDL2_LIBRARY=%VCPKG_LIB_DIR%/SDL2.lib -DSDL2_INCLUDE_DIR=%VCPKG_INC_DIR%/SDL2
  - cmake --build build
  - copy /y %BOOST_ROOT%\lib32-msvc-14.0\*.dll build\bin\Debug
  - copy /y %VCPKG_BIN_DIR%\*.dll build\bin\Debug
  - cmake --build build --target check

cache:
  - libs
  - C:\Program Files\FAAD
  - C:\Program Files\XviD
  - C:\Program Files (x86)\FAAD
  - C:\Program Files (x86)\XviD
  - C:\tools\vcpkg\installed
