<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Xoreos</string>
	<key>CFBundleExecutable</key>
	<string>xoreos</string>
	<key>CFBundleGetInfoString</key>
	<string>0.0.4, Copyright 2010-2018 The xoreos Team</string>
	<key>CFBundleIconFile</key>
	<string>xoreos.icns</string>
	<key>CFBundleIdentifier</key>
	<string>org.xoreos.xoreos</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Xoreos</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.0.4</string>
	<key>CFBundleVersion</key>
	<string>0.0.4</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright 2010-2018 The xoreos Team</string>
</dict>
</plist>
