# This is an example for a xoreos.conf file, where xoreos reads and
# saves game configuration options. xoreos expects this file in the
# user conf directory, whose location depends on the operating
# system.
#
# - On GNU/Linux, the place is $XDG_CONFIG_HOME/xoreos/xoreos.conf.
#   $XDG_CONFIG_HOME defaults to $HOME/.config/
# - On Mac OS X, the place is $HOME/Library/Preferences/xoreos/xoreos.conf
# - On Windows, xoreos.conf is in the subdirectory xoreos in either
#   $APPDATA or $USERPROFILE, depending on your Windows version
#
# You can also specify a different xoreos.conf with the command line
# option -c/--config.
#
# If the xoreos.conf does not exist, xoreos will create one with
# default values on the first successful game start.
#
# The encoding of this file *must* be UTF-8.
#
# When a setting is changed using the in-game menus, like the options
# menu in Neverwinter Nights, xoreos will save the changes back to the
# config file on exit, inside the section for the current game.
# Settings given on the command line are not saved back. When xoreos
# saves the config file, all unchanged settings and all comments in it
# will be preserved.
#
# The "xoreos" section is used for global configuration; the other
# sections are targets, entries to describe games. If the same setting
# exists in the global section and in the section for the current
# game, the setting in the game section overrides the global setting.
#
# The name of the game section is not used for game identification.
# As such, the name is arbitrary and up to the user. There are
# restrictions on the name, though: only these characters are allowed:
# [-_. A-Za-z0-9], i.e. alphanumerical characters plus hyphen,
# underscore, full stop and space. All section names have to be
# unique, too. Since the section name "xoreos" is already used for
# global options, it is not a valid game section name.
#
# The section names can be used to start xoreos with. This example
# file has a section called "nwn"; to start xoreos with that game, and
# automatically apply the settings in that "nwn" section (in addition
# to the global options), start xoreos with "nwn" as a command line
# option. Like so:
#
# xoreos nwn
#
# All setting keys are also valid command line options for xoreos, and
# vice versa. For example, you can start xoreos thusly:
#
# xoreos --width=800 --height=600 nwn
#
# This will start xoreos with Neverwinter Nights, with a window of
# size 800x600. These two added settings will not be saved to the
# config file. But if you then change the resolution in the options
# menu of Neverwinter Nights, xoreos will add width and height to the
# "nwn" section, with the values you selected inside the game.
#
# Moreover, if a give an option on the command line that already
# exists in the game section, it will override the setting in the game
# section, but only for this session. It will not save back to the
# config file. For example
#
# xoreos --largefonts=false nwn
#
# Will start Neverwinter Nights in xoreos with the small in-game
# conversation font, but this setting will not be remembered for the
# next time.

# Global options
[xoreos]
# These are default settings that can be overridden by the targets.

# Window size.
width=1024
height=768

# Window positioning. Forces the game window to appear at these
# coordinates. When x and/or y are not specified, the placement of
# the window is left to your operating system.
x=0
y=0

# Fullscreen or windowed mode.
fullscreen=false

# Fullscreen anti-aliasing.
fsaa=4

# If set to false, a changed configuration will not be saved back.
# By default, changes are saved.
saveconf=true

# The xoreos log file will be written here. By default, the log
# will be written into a file located in the OS-specific user
# data directory.
logfile=/home/drmccoy/xoreos.log
# If set to true, no log file will be written at all. The default
# is to write a log file.
nologfile=false

# A log of the debug console will be written here.
consolelog=/home/drmccoy/xoreos-console.log
# If set to true, no console log will be written at all. The default
# is to write a console log.
noconsolelog=false

# Show a frames-per-second counter in the top left corner.
showfps=true

# Volume options.
volume=1.000000        # Master volume.
volume_music=0.500000  # Music.
volume_sfx=0.850000    # Sound effects.
volume_voice=0.850000  # Voices.
volume_video=0.850000  # Sound from the videos.

# Don't show any videos at all.
skipvideos=false

# Neverwinter Nights
[nwn]
# The path where to find the game. Both / and \ are valid as
# directory separators. Relative paths are supported. ~/ at the
# start of the path string will be replaced with the user's home
# directory. All targets need to have a path, the rest is
# optional.
path=/home/drmccoy/games/nwn/

# A description of the game. Will appear in the window title and a
# potential future xoreos GUI. If left out, a default description
# containing the game name (in English) plus the detected platform
# of the game will be used.
# For example "Neverwinter Nights (GNU/Linux)".
description=Neverwinter Nights (English)

# The language of the game. Most of the supported games can only
# be installed in one language at the same time. There, specifying
# the language of the game is optional, and will be autodetected
# anyway. A wide variety of strings are recognized here, including
# the English name of a language and country, the name of the
# language and country in the language in question, the ISO 693-1,
# 693-2 and 693-3 language codes, the ISO 3166-2 country codes and
# the usual combinations of ISO 693 and ISO 3166 ("de_DE", ...).
lang=English

# Override these options for Neverwinter Nights.
fullscreen=true
fsaa=8

# Options specific to Neverwinter Nights:

# Which texture pack to use. From 0 (very low) to 3 (highest).
texturepack=3

# The amount of time in ms until a tooltip appears.
tooltipdelay=100

# Use the large in-game conversation font.
largefonts=true

# Game difficulty. From 0 (Easy) to 3 (Very Difficult).
difficulty=0 # Easy

# Show mouse-over feedback. If set to true, a creature's health
# will be displayed in its feedback bubble.
# This option is not yet evaluated by xoreos.
mouseoverfeedback=false
# How the feedback bubble should look.
# 0: Off
# 1: Text only
# 2: Text and portrait
feedbackmode=2

# Neverwinter Nights 2
[nwn2]
# The ~/ will be replaced with the user's home directory.
# For a user with the name of "drmccoy", this will be:
# - On GNU/Linux, $HOME (usually /home/drmccoy/)
# - On Mac OS X, $HOME (usually /Users/drmccoy/)
# - On Windows, %USERPROFILE%
path=~/games/nwn2/

# Options specific to Neverwinter Nights 2:

# This is a debug option to disable the tinting of meshes.
# Currently, we're tinting the meshes on the CPU, which is slow and
# eats a lot of RAM, both on the GPU and the system. This will
# change in the future.
tint=false

# Knights of the Old Republic
[kotor]
# An example of a path on Windows, with forward slashes.
path=C:/games/kotor/

# The Witcher
[witcher]
# An example of a path on Windows, with backward slashes.
path=C:\games\witcher\

# This whole file, including user-visible strings and paths, has
# to be encoded as UTF-8.
description=The Witcher (Wiedźmin)

# The Witcher has separate language settings for text and voice.
# Only setting the option "lang" will set both text and voice, but
# both "langtext" and "langvoice" will override this setting for
# text or voice, respectively.
langtext=English
langvoice=German
